header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divTitre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titre{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}
.navlink{
    font-family: 'Poppins', sans-serif;
    font-size: 12.5px;
    margin: 0;
}
.modes{
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}

.btn{
    height: 15px;
    width: 15px;
    border-radius : 15%;
    border: none;
    outline: none;
    background-color: white;
}
.white{
    border: lightgray solid 1px;
}
.black{
    background-color: black;
}
.connexion{
    background-color: gray;
    color: white;
    height: 30px;
    border: none;
}

// partie querries

@media (min-width : 320px)and (max-width : 816px){
    #nav{
        flex-direction: column;
        align-items: center;
    }
}
