@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divTitre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titre {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

#nav {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.navlink {
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
}

.modes {
  display: flex;
  align-items: center;
  width: 135px;
  justify-content: space-between;
}

.btn {
  height: 15px;
  width: 15px;
  border-radius: 15%;
  border: none;
  outline: none;
}

.white {
  border: lightgray solid 1px;
}

.black {
  background-color: black;
}

.connexion {
  background-color: gray;
  color: white;
  height: 30px;
  border: none;
}

@media (min-width: 320px) and (max-width: 816px) {
  #nav {
    flex-direction: column;
    align-items: center;
  }
}
.section1 {
  width: 100%;
  height: 75vh;
  margin-top: 50px;
  display: flex;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
}

.sect1G {
  width: 33%;
  margin-top: 5%;
}

.sect1D {
  width: 33%;
  background-size: cover;
}

.imgSect1 {
  height: 100%;
  margin-left: 5%;
}

.h2Sect1 {
  font-family: "Poppins", sans-serif;
  color: red;
  font-size: 60px;
  margin: 0;
  margin-top: 30px;
  font-weight: 300;
}

.h1Sect1 {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  margin: 0;
}

.pSect1 {
  font-family: "Poppins", sans-serif;
  color: gray;
}

.btnSect1 {
  width: 33%;
  height: 60px;
  background-color: rgba(255, 0, 0, 0.623);
  border-radius: 5em/5em;
  color: white;
  border: none;
  margin-top: 15px;
}

@media (min-width: 300px) and (max-width: 641px) {
  .section1 {
    height: 50vh;
  }

  .sect1G {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .sect1D {
    width: 0%;
  }

  .h2Sect1 {
    font-size: 20px;
  }

  .h1Sect1 {
    font-size: 25px;
  }

  .pSect1 {
    font-size: 15px;
  }

  .imgSect1 {
    display: none;
  }
}
@media (min-width: 641px) and (max-width: 1007px) {
  .h2Sect1 {
    font-size: 30px;
  }

  .h1Sect1 {
    font-size: 35px;
  }

  .pSect1 {
    font-size: 20px;
  }

  .sect1D {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }

  .imgSect1 {
    height: 75%;
  }
}
@media (min-width: 1007px) {
  .h2Sect1 {
    font-size: 33px;
  }

  .h1Sect1 {
    font-size: 38px;
  }

  .pSect1 {
    font-size: 23px;
  }
}
.section2 {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.img1Sect2 {
  width: 31%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/services/service-1.jpg");
  background-size: cover;
}

.img2Sect2 {
  width: 31%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/services/service-2.jpg");
  background-size: cover;
}

.img3Sect2 {
  height: 25vh;
  width: 31%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/services/slider-3.jpg");
  background-size: cover;
}

.p1Sect2 {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  border-bottom: white solid 3px;
}

.p2Sect2 {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  border-bottom: white solid 3px;
}

.p3Sect2 {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  border-bottom: white solid 3px;
}

@media (min-width: 320px) and (max-width: 636px) {
  .section2 {
    display: block;
  }

  .img1Sect2 {
    width: 100%;
    height: 10vh;
  }

  .img2Sect2 {
    width: 100%;
    height: 10vh;
  }

  .img3Sect2 {
    width: 100%;
    height: 10vh;
  }

  .p1Sect2 {
    font-size: 100%;
  }

  .p2Sect2 {
    font-size: 100%;
  }

  .p3Sect2 {
    font-size: 100%;
  }
}
@media (min-width: 636px) and (max-width: 745px) {
  .p1Sect2 {
    font-size: 100%;
  }

  .p2Sect2 {
    font-size: 100%;
  }

  .p3Sect2 {
    font-size: 100%;
  }
}
@media (min-width: 745px) and (max-width: 1080px) {
  .p1Sect2 {
    font-size: 150%;
  }

  .p2Sect2 {
    font-size: 150%;
  }

  .p3Sect2 {
    font-size: 150%;
  }
}
.section3 {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.div1sect3 {
  border: black solid 1px;
  display: flex;
  justify-content: center;
}

.titreSect3 {
  font-family: "Poppins", sans-serif;
}

.divGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
}

.divRangee {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}

.divCarree {
  display: block;
  border: solid red 1px;
  height: 35vh;
  width: 45vh;
}

.divImgSect31 {
  border: black solid 1px;
  height: 70%;
  background-image: url("../img/products_mini/product-luxry-sofa.jpg");
  background-size: cover;
}

.divImgSect32 {
  border: black solid 1px;
  height: 70%;
  background-image: url("../img/products_mini/product-gloves.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.divImgSect33 {
  border: black solid 1px;
  height: 70%;
  background-image: url("../img/products_mini/product-luxry-sofa.jpg");
  background-size: cover;
}

.divTxtSect3 {
  height: 30%;
  border: solid green 1px;
}

/*# sourceMappingURL=app.css.map */
